<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/fileinput.min.js"></script>
	<title>Mask R-CNN物件辨識</title>
<style>
.waterfall {
  list-style: none;
  column-gap: 0;
  column-count: 5;
}
.waterfall .item {
  width: 100%;
  height: 100%;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 759.5px) {
  .waterfall {
    column-count: 1;
  }
}
@media (min-width: 760px) and (max-width: 979.5px) {
  .waterfall {
    column-count: 3;
  }
}
@media (min-width: 980px) and (max-width: 1023.5px) {
  .waterfall {
    column-count: 4;
  }
}
@media (min-width: 1024px) {
  .waterfall {
    column-count: 5;
  }
}
	</style>
</head>

<body>
	<header>
		<nav class="container navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Mask R-CNN物件辨識</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a style="background-color:#5cb85c; color:white;" href="results">结果</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<span>此模型可辨別類別 : BG, 人, 房子, 樹, 船, 扇, 椅, 桌, 孩童, 門, 窗, 軍人, 女性, 帽, 圖像標題, 圖像文字, 印章文字</span>
		<div class="file-loading">
			<input id="upload" name="image" type="file" class="file" multiple="true">
		</div>

		<p id="predict"></p>

		<hr />
		<h2>範例圖片:</div>
		<div style="margin: 0 150px;" class="waterfall">
			{% for img in imgs %}
			<div class="item">
				<img class="img-responsive img-thumbnail center-block" src="static/sample/{{ img }}">
			</div>
			{% endfor %}
		</div>
	</div>
	<script>

		$("#upload").fileinput({
			'uploadUrl': '/api/maskrcnn',
			'showUpload': true,
			previewFileType: "image",
			dropZoneTitle: "拖曳圖片至此...",
			browseOnZoneClick: true,
			dropZoneClickTitle: "<br/>(或點擊選取圖片)",
			browseClass: "btn btn-success",
			browseLabel: "瀏覽",
			browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
			removeClass: "btn btn-danger",
			removeLabel: "刪除",
			removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
			uploadClass: "btn btn-info",
			uploadLabel: "上傳",
			uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
		}).on("fileuploaded", function (event, data, previewId, index) {
			var s = document.getElementById('predict');
			var data = data.response.predict;
			var text = "";
			for (let i = 0; i < data.length; i++) {
				let item = JSON.parse(data[i]);
				text += "<h4><img data-enlargeable='' style='width: 100px;' src='"+ item.url + "' />" + item.name +
				        "<span class='badge'>" + item.category + "</span></h4>"
			}
			s.innerHTML = text;
			
			$('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
                   	     var src = $(this).attr('src');
                        	var modal;
	
        	                function removeModal() {
                	                modal.remove();
                        	        $('body').off('keyup.modal-close');
                       	 	}
                        	modal = $('<div>').css({
					background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
                        	        backgroundSize: 'contain',
                 	                width: '100%',
                        	        height: '100%',
                   	        	position: 'fixed',
                        	        zIndex: '10000',
                        	        top: '0',
                               		left: '0',
                                	cursor: 'zoom-out'
                         	}).click(function() {
                                	removeModal();
                         	}).appendTo('body');

                        	//handling ESC
                       		 $('body').on('keyup.modal-close', function(e) {
                                	if (e.key === 'Escape') {
                                        	removeModal();
                                	}
                        	});
                	});
		}).on('fileerror', function(event, data, msg) {
			console.log('error');
		}).on('filepreupload', function(event, data, msg) {
			console.log('uploading...');
		});


		$('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
                        var src = $(this).attr('src');
                        var modal;

                        function removeModal() {
                                modal.remove();
                                $('body').off('keyup.modal-close');
                        }
                        modal = $('<div>').css({
                                background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
                                backgroundSize: 'contain',
                                width: '100%',
                                height: '100%',
                                position: 'fixed',
                                zIndex: '10000',
                                top: '0',
                                left: '0',
                                cursor: 'zoom-out'
                         }).click(function() {
                                removeModal();
                         }).appendTo('body');

                        //handling ESC
                        $('body').on('keyup.modal-close', function(e) {
                                if (e.key === 'Escape') {
                                        removeModal();
                                }
                        });
                });

	</script>

</body>

</html>
